@define-color text #FFFFFF;
@define-color black  #0B0F12;
@define-color grey  #44475A;
@define-color white  #F8F8F2;
@define-color red  #FF5555;
@define-color orange  #FFB86C;
@define-color green  #50FA7B;
@define-color yellow  #F1FA8C;
@define-color purple  #BD93F9;
@define-color magenta #FF79C6;
@define-color cyan  #8BE9FD;

#waybar {
  background: @black;
  color: @white;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  border-radius: 7px;
}

#workspaces button {
  font-size: 16px;
  padding: 0 1px;
  color: #606d88;
  border: none;
}

#workspaces button.active {
  color: @white;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button:hover {
  background: none;
  color: @grey;
}

#workspaces,
#memory,
#cpu,
#backlight,
#battery,
#pulseaudio,
#language,
#clock {
  padding: 7px;
}
#workspaces {
  margin: 4px 1px 4px 1px;
  padding: 0px 0px;
  border-radius: 7px;
  border: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: @text;
  opacity: 0.9;
}

#clock {
  padding-right: 10px;
}

#battery.critical {
  color: #d67c8e; /* red */
}

#battery.warning {
  color: #d6a37c; /* orange */
}

#battery.low {
  color: #dfd696; /* yellow */
}

#custom-notif {
  font-size: 7px;
  background-image: url("/home/k/.config/waybar/icons/notification.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0px;
  margin: 0px 10px 0px 0px;
}

/* tooltip */
tooltip {
  border-radius: 5px;
  background-color: @black;
  opacity: 1;
}

tooltip label {
  border-radius: 5px;
  background-color: @black;
  opacity: 1;
  padding: 0px;
  margin: -5px 0px;
  font-size: 12px;
  color: @text;
}
